/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
* {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


:root {
    --color-accent-100: #ffffff;
    --color-accent-300: #b89867;
    --color-accent-500: #8d5836;
    --color-accent-700: #491e0f;
    --color-accent-750: #41261f;
    --color-accent-800: #261609;
    --color-accent-850: #1b1006;
    --color-accent-900: #000000;

    --ff-size-100: 1rem;
    --ff-size-300: 1.125rem;
    --ff-size-500: 1.5rem;
    --ff-size-700: 2.25rem;
    --ff-size-900: 3rem;

    --ff-android-size-100: 13px;
    --ff-android-size-300: 14px;
    --ff-android-size-500: 19px;
    --ff-android-size-700: 1.5rem;
    --ff-android-size-800: 1.7rem;
    --ff-android-size-900: 2rem;

    --img-width: 270px;

    --img-width-android: 220px;
}

.content-holder {
    background-color: var(--color-accent-300);
}

.nav {
    padding: 10px 10vw;
    display: flex;
    flex-direction: column;
}

.socials {
    align-self: flex-end;
}

svg {
    height: 50px;
    width: 40px;
    padding: 1px 5px;
    fill: #fff;
    margin-left: 30px;
    transition: 0.3s;
}

svg:hover {
    fill: var(--color-accent-700);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.content-column-1 {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 4vw;
    width: 50vw;
}

.content-column-1 h1 {
    font-size: var(--ff-size-900);
    font-weight: bold;
    color: var(--color-accent-900);
}

.content-column-1 p {
    font-size: var(--ff-size-300);
    color: #1d1d1d;
}

button {
    border: 0px none;
    padding: 5px 30px;
    margin-top: 2rem;
    border-radius: 7px;
    font-size: var(--ff-size-300);
    color: var(--color-accent-100);
    background-color: var(--color-accent-800);
    box-shadow: 0 1px 2px 0 var(--color-accent-900);
    transition: 0.3s;
}

.content-column-2 {
    display: flex;
    width: 50vw;
    padding-top: 2vh;
    padding-right: 10vw;
    padding-left: 4vw;
}

img {
    width: 50vw;

}

button:hover {
    background-color: var(--color-accent-700);
    box-shadow: 0 2px 4px 0 var(--color-accent-900);
}

.meet-our-cats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-700);
    color: var(--color-accent-100);
    box-shadow: 0 4px 8px 0 var(--color-accent-850);
}

h2 {
    font-size: var(--ff-size-700);
    font-weight: 700;
    padding: 2vh 2vw;
}

.cat-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cats {
    margin: 2vh 1.4vw;
    margin-bottom: 8vh;
    width: var(--img-width);
    color: var(--color-accent-100);
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 var(--color-accent-850);
    transition: 0.3s;
}

.cat-image {
    position: relative;
}

.cats:hover {
    box-shadow: 0 8px 16px 0 var(--color-accent-850);
}

.cats img {
    border-radius: 7px;
}

.cat-image {
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    width: var(--img-width);
    height: var(--img-width);
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px var(--color-accent-850);
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    border-radius: 7px;
}

.about p {
    color: var(--color-accent-100);
    font-size: var(--ff-size-300);
    font-weight: 400;
}

.cat-image:hover .about {
    visibility: visible;
    opacity: 1;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh 6vw;
    text-align: center;
    background-image: url(assets/bg1.jpg);
    text-shadow: 4px 4px 8px 0 var(--color-accent-850);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.quote p {
    color: var(--color-accent-100);
    font-size: var(--ff-size-700);
}

.footer-holder {
    background-color: var(--color-accent-850);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footer {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 25vw;
}

.opening-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 6vw;
}

.opening-info p {
    font-size: var(--ff-size-100);
    color: var(--color-accent-100);
    text-align: center;
    font-weight: 200;
}

h3 {
    font-size: var(--ff-size-500);
    color: var(--color-accent-100);
    padding: 5px;
    text-align: center;
}


.foot-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

.opening-info a,
.foot-nav a {
    color: var(--color-accent-100);
    font-size: var(--ff-size-100);
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    font-weight: 200;
}

.opening-info a:hover,
.foot-nav a:hover {
    color: var(--color-accent-700);
}

.footer-socials svg {
    margin: 0 5px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-900);
    padding: 20px;
    box-shadow: 0 0 4px var(--color-accent-900);
}

.copyright p {
    color: var(--color-accent-100);
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-column-1 {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2vh 2vw;
    }

    .content-column-1 h1 {
        text-align: center;
    }

    .content-column-2 {
        padding: 2vh 2vw;
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 70vw;
    }

    .nav {
        padding: 10px 6vw;
    }

    svg {
        margin: 0;
    }

    .footer-socials svg {
        margin: 0;
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 390px) {
    .nav {
        padding-bottom: 0;
    }

    .socials {
        align-self: center;
    }

    svg {
        height: 25px;
        margin: 0;
    }

    .content{
        padding-bottom: 6vh;
    }
    .content-column-1 {
        padding: 1.2vh 1vw;
    }

    .content-column-1 h1 {
        font-size: var(--ff-android-size-900);
    }

    .content-column-1 p {
        font-size: var(--ff-android-size-300);
    }

    button {
        font-size: var(--ff-android-size-100);
    }

    .content-column-2 {
        padding: 1.2vh 1vw;
        width: 90vw;
    }

    img {
        width: 85vw;
    }

    h2 {
        font-size: var(--ff-android-size-800);
        padding-bottom: 0;
    }

    .cat-list {
        padding-bottom: 40px;
    }

    .cats {
        margin-bottom: 3.2vh;
        width: var(--img-width-android);
    }

    .about {
        width: var(--img-width-android);
        height: var(--img-width-android);
    }

    .about p {
        font-size: var(--ff-android-size-100);
    }

    .quote {
        height: 225px;
    }

    .quote p {
        font-size: var(--ff-android-size-700);
    }

    .footer-holder {
        height: 280px;
    }

    .footer {
        margin: 0 15vw;
        height: 210px;
    }

    h3 {
        font-size: var(--ff-android-size-500);
        padding: 2px;
    }

    .opening-info p,
    .opening-info a,
    .foot-nav a {
        font-size: var(--ff-android-size-300);
    }

    .opening-info {
        padding-right: 3vw;
    }

    .foot-nav {
        padding-left: 3vw;
    }

    .footer-socials svg {
        width: 30px;
        margin: 0;
        padding-bottom: 6px;
    }

    .copyright {
        padding: 12px;
    }

    .copyright p{
        font-size: 11px;
    }
}